html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Font 
    font-family: 'Poppins', sans-serif;
*/

/* Colors
    Primary
        - Cyan: hsl(180, 66%, 49%)
        - Dark Violet: hsl(257, 27%, 26%)
    Secondary
        - Red: hsl(0, 87%, 67%)
    Neutral
        - Gray: hsl(0, 0%, 75%)
        - Grayish Violet: hsl(257, 7%, 63%)
        - Very Dark Blue: hsl(255, 11%, 22%)
        - Very Dark Violet: hsl(260, 8%, 14%)
*/


/* General Styles */

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    color: hsl(255, 11%, 22%);
}

p,
a {
    color:hsl(257, 7%, 63%);
}

p {
    line-height: 1.7rem;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.button {
    color: #FFF;
    background-color: hsl(180, 66%, 49%);
    padding: 13px 30px;
    border-radius: 25px;
}

.button,
nav a {
    font-weight: 700;
}

a:hover {
    color: hsl(260, 8%, 14%);
}

.button:hover {
    color: #FFF;
    background-color: hsl(180, 66%, 69%);
}

button.button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}


/* Header Styling */


nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.leftNav {
    display: flex;
    flex-direction: row;
}

.menu {
    align-items: center;
}

.userLogin li {
    margin-left: 40px;
}

.menu li {
    margin-left: 40px;
}

.mainHeader {
    display: flex;
    height: 80vh;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 63%;
}

.headerText p {
    width: 70%;
    font-size: 1.2rem;
}

h1 {
    font-size: 4.5rem;
}

.headerText .getStartedButton {
    margin-top: 30px;
}

.headerImg {
    position: absolute;
    width: 45%;
    margin-top: 60px;
    right: -130px;
}

/* Main Styling */

main {
    background-color: hsl(256, 30%, 95%);
}

/* Form Styling */

.formSection {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 27%, 26%);
    background-image: url('/images/bg-shorten-desktop.svg');
    background-size: cover;
    height: 180px;
    top: -90px;
    width: 100%;
    border-radius: 10px;
}

.form {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 0 50px;
}

input {
    flex: 1;
    border-radius: 10px;
    border: none;
    margin-right: 30px;
    padding-left: 30px;
}



/* Statistics Styling */

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.mainContentText {
    text-align: center;
    width: 50%;
}

.modals {
    align-items: center;
}

.modal {
    background-color: #FFF;
    border-radius: 5px;
    margin-right: 30px;
    padding: 0 35px 35px 35px;
}

.modal2 {
    margin-top: 80px;
}

.modal3 {
    margin-top: 160px;
}

.image {
    position: relative;
    top: -40px;
    width: 80px;
    height: 80px;
    padding: 20px;
    border-radius: 50%;
    background-color: hsl(257, 27%, 26%);
}

.boostSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(257, 27%, 26%);
    background-image: url('/images/bg-boost-desktop.svg');
    background-size: cover;
    height: 300px;
    width: 100%;
}

.boostSection h2 {
    color: #FFF;
}



/* Footer Styling */

footer {
    background-color: hsl(260, 8%, 14%);
    color: #FFF;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

footer a:hover {
    color: hsl(180, 66%, 49%);
}

.footerLogo img {
    filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(154deg) brightness(103%) contrast(101%);
}

.footerNav {
    display: flex;
}

.footerNav ul {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
